### Consider following code to answer further questions:
```
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
```

In [1]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

### Q1. Write a code to print the data present in the second row of the dataframe, df.

In [2]:
df.loc[df.index[1]]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

### Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

#### A: loc and iloc are basically used to iterate through the dataframe. The key difference between them is loc uses actual index i.e the labels, whereas  iloc uses numeric indexing i.e 0:size-1:1. loc support slicing which includes the last element, but  slicing using iloc excludes the last element just like the list slicing.

### Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].
### Did you observe any difference in both the outputs? If so then explain it. Consider the below code to answer further questions:
```
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
```

In [2]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.793349  0.435292  0.435712  0.866079  0.637424  0.726103
2  0.927532  0.429108  0.250800  0.196534  0.089790  0.593313
3  0.208057  0.209901  0.925103  0.383031  0.650378  0.209212
4  0.568562  0.329990  0.439435  0.658371  0.407624  0.194459
5  0.102600  0.389616  0.182231  0.347440  0.356106  0.078497
6  0.907871  0.209053  0.523593  0.846713  0.390855  0.470861

In [4]:
new_df = df1.reindex([3,0,1,2])
new_df

   column_1  column_2  column_3  column_4  column_5  column_6
3  0.208057  0.209901  0.925103  0.383031  0.650378  0.209212
0       NaN       NaN       NaN       NaN       NaN       NaN
1  0.793349  0.435292  0.435712  0.866079  0.637424  0.726103
2  0.927532  0.429108  0.250800  0.196534  0.089790  0.593313

In [5]:
new_df.loc[2]

column_1    0.927532
column_2    0.429108
column_3    0.250800
column_4    0.196534
column_5    0.089790
column_6    0.593313
Name: 2, dtype: float64

In [6]:
new_df.iloc[2]

column_1    0.793349
column_2    0.435292
column_3    0.435712
column_4    0.866079
column_5    0.637424
column_6    0.726103
Name: 1, dtype: float64

As observed in the scenario, loc[ ] returned the row with index=2, but iloc[ ] returned the 3rd row. Hence, loc[ ] follows label based indexing, and iloc[ ] follows numeric indexing i.e whole number.

### Q4. Write a code to find the following statistical measurements for the above dataframe df1:
### (i) mean of each and every column present in the dataframe.
### (ii) standard deviation of column, ‘column_2’

In [15]:
df1.describe().loc["mean"]

column_1    0.584662
column_2    0.333827
column_3    0.459479
column_4    0.549694
column_5    0.422030
column_6    0.378741
Name: mean, dtype: float64

In [16]:
df1["column_2"].describe()["std"]

0.10337038121847154

### Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2.
### If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [24]:
df1["column_2"].loc[1]="hello"
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.793349     hello  0.435712  0.866079  0.637424  0.726103
2  0.927532  0.429108  0.250800  0.196534  0.089790  0.593313
3  0.208057  0.209901  0.925103  0.383031  0.650378  0.209212
4  0.568562   0.32999  0.439435  0.658371  0.407624  0.194459
5  0.102600  0.389616  0.182231  0.347440  0.356106  0.078497
6  0.907871  0.209053  0.523593  0.846713  0.390855  0.470861

In [25]:
df1.describe()

       column_1  column_3  column_4  column_5  column_6
count  6.000000  6.000000  6.000000  6.000000  6.000000
mean   0.584662  0.459479  0.549694  0.422030  0.378741
std    0.357784  0.261647  0.280548  0.207097  0.256138
min    0.102600  0.182231  0.196534  0.089790  0.078497
25%    0.298183  0.297028  0.356338  0.364793  0.198147
50%    0.680956  0.437574  0.520701  0.399240  0.340036
75%    0.879240  0.502553  0.799627  0.579974  0.562700
max    0.927532  0.925103  0.866079  0.650378  0.726103

#### Statistics of column 2 is missing here, because data types in column 2 are different for which the statistcs can't be calculated.

### Q6. What do you understand about the windows function in pandas and list the types of windows functions?

A: Windows function in pandas are the function that executes on a set of rows or a window.

Types of windows function:
1. rolling
2. expanding

### Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [34]:
print("Month : ",pd.Timestamp.today().month_name())
print("Year : ",pd.Timestamp.today().year)

Month :  January
Year :  2024

### Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes using Pandas time delta. The program should prompt the user to enter the dates and display the result.

In [41]:
import pandas as pd

date1 = pd.to_datetime(input("Enter the start date in format('YYYY-MM-DD') :"),format="%Y/%m/%d")
date2 = pd.to_datetime(input("Enter the end date in format('YYYY-MM-DD') :"),format="%Y/%m/%d")
pd.Timedelta(date2-date1)

Enter the start date in format('YYYY-MM-DD') : 2023-02-01
Enter the end date in format('YYYY-MM-DD') : 2024-02-01

Timedelta('365 days 00:00:00')

### Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified column to a categorical data type. The program should prompt the user to enter the file path, column name, and category order, and then display the sorted data.

In [ ]:
import pandas as pd
path = input("Enter the full path to the csv file(including name):")
df = pd.read_csv(path)
print("Displaying first 5 row:",df.head(5))
col = input("Enter the column name :")
lst = list(df[col]).sort()

### Q10. Write a Python program that reads a CSV file containing sales data for different products and visualizes the data using a stacked bar chart to show the sales of each product category over time. The program should prompt the user to enter the file path and display the chart.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
path = input("Enter the full path to the csv file of sales data(including name):")
df = pd.read_csv(path)

df['Date'] = pd.to_datetime(df['Date'])

pivot_df = df.pivot(index='Date', columns='Category', values='Sales').fillna(0)

# Create a stacked bar chart
ax = pivot_df.plot(kind='bar', stacked=True, figsize=(10, 6))

# Set labels and title
plt.xlabel('Date')
plt.ylabel('Sales')
plt.title('Sales Data Over Time')

# Show the legend
plt.legend(title='Category', bbox_to_anchor=(1.05, 1), loc='upper left')

# Display the chart
plt.show()

### Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and displays the results in a table.

The program should do the following:
* Prompt the user to enter the file path of the CSV file containing the student data
* Read the CSV file into a Pandas DataFrame
* Calculate the mean, median, and mode of the test scores using Pandas tools
* Display the mean, median, and mode in a table.

Assume the CSV file contains the following columns
* Student ID: The ID of the student
* Test Score: The score of the student's test.
Example usage of the program:
Enter the file path of the CSV file containing the student data: student_data.csv


| Statistic | Value |
|-----------|--------|
| Mean | 79.6 |
| Median | 82 |
| Mode | 85, 90 |


Assume that the CSV file student_data.csv contains the following data:
Student ID,Test Score

1,85

2,90

3,80

4,75

5,85

6,82

7,78

8,85

9,90

10,85

The program should calculate the mean, median, and mode of the test scores and display the results
in a table.

In [57]:
import pandas as pd
# path = input("Enter the file path of the CSV file containing the student data: ")
# df = pd.read_csv(path)

df = pd.DataFrame()
id = [i+1 for i in range(10)]
score = [85,90,80,75,85,82,78,85,90,85]
df["Student ID"]=id
df["Test Score"]=score
   
df2 = pd.DataFrame({"Statistic":["Mean","Median","Mode"],"Value":[df["Test Score"].describe()["mean"],df["Test Score"].describe()["50%"],float(df["Test Score"].mode())]})
print(df2)

  Statistic  Value
0      Mean   83.5
1    Median   85.0
2      Mode   85.0